# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform (Lab6)
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Terraform (Lab7)
terraform-lab7/.terraform/
terraform-lab7/.terraform.lock.hcl
terraform-lab7/terraform.tfvars
terraform-lab7/*.tfstate
terraform-lab7/*.tfstate.*
terraform-lab7/crash.log
terraform-lab7/lab7_key
terraform-lab7/lab7_key.pub
terraform-lab7/override.tf
terraform-lab7/override.tf.json
terraform-lab7/*_override.tf
terraform-lab7/*_override.tf.json

.env
.env.*
terraform/plan_output.json
lab7-ec2-key.pem
Лабораторна робота №7_ Розгортання вебзастосунків на AWS EC2.docx.md
